<div *ngIf="!game" class="flex justify-center">
  <div class="loading loading-spinner loading-lg"></div>
</div>

<div class="flex flex-col items-center py-16" *ngIf="game && !game.hasStarted">
  <div class="card bg-secondary text-secondary-content w-[300px]">
    <div class="pb-2 pt-1 opacity-25 font-extrabold text-3xl text-center">{{ formatId(game.id) }}</div>
    <div *ngIf="game.joinedUsers.length > 7 || game.joinedUsers.length < 4 || loggedInUserName !== game.admin" class="flex justify-center my-8">
      <div class="loading loading-spinner loading-lg"></div>
    </div>
    <div *ngIf="game.joinedUsers.length <= 7 && game.joinedUsers.length >= 4 && loggedInUserName === game.admin" class="flex justify-center my-8">
      <button (click)="initGame()" class="btn btn-primary">Start game</button>
    </div>
    <div class="divider">Joined players</div>
    <div class="p-2 my-2 mx-3 rounded-sm bg-primary text-primary-content font-bold flex justify-between items-center" *ngFor="let user of game.joinedUsers; trackBy: identifyUser">
      <span>{{ user.name }}</span>
      <button *ngIf="loggedInUserName === game.admin && loggedInUserName !== user.name" (click)="deletePlayer(user.name)" class="btn btn-sm">Kick</button>
      <button *ngIf="loggedInUserName === user.name" (click)="deletePlayer(user.name)" class="btn btn-sm">Leave</button>
    </div>
    <div class="divider">Waiting in lobby...</div>
    <div class="p-2 my-2 mx-3 rounded-sm bg-primary text-primary-content font-bold flex justify-between items-center" *ngFor="let user of game.requests; trackBy: identifyUser">
      <span>{{ user.name }}</span>
      <button *ngIf="loggedInUserName === game.admin" (click)="addPlayer(user.id)" class="btn btn-sm">Add</button>
    </div>
    <div class="p-2">
      <button (click)="emitBack()" class="btn w-full btn-error">Back to menu</button>
    </div>
  </div>
</div>

<div *ngIf="game && game.hasStarted" class="flex flex-wrap gap-4">
  <div class="flex gap-4 flex-wrap">
    <div *ngFor="let player of game.players; trackBy: identifyPlayer" class="card card-body bg-neutral text-neutral-content">
      <p>{{ player.character.name }}</p>
      <p *ngIf="'Sheriff' === player.role.name || player.name === loggedInUserName">{{ player.role.name }}</p>
      <p *ngIf="'Sheriff' !== player.role.name && player.name !== loggedInUserName">*****</p>
      <p class="flex justify-between items-center">
        <button *ngIf="player.name === loggedInUserName" (click)="handleUpdateLife(-1)" [disabled]="updatingLife" class="btn btn-circle">-</button>
        <span class="text-2xl font-extrabold">
          {{ player.life }}
        </span>
        <button *ngIf="player.name === loggedInUserName" (click)="handleUpdateLife(1)" [disabled]="updatingLife" class="btn btn-circle">+</button>
      </p>
      <div class="divider">Kártyák</div>
      <div *ngFor="let card of player.cardsInHand; trackBy:identifyCard">
        <div draggable="true" (dragstart)="handleTransferStart(card.id)" *ngIf="player.name === loggedInUserName">
          {{ card.title }}
          <button *ngIf="card.isInstant" class="btn btn-success" (click)="handlePlayCard(card.id)">Kijátszom</button>
          <button *ngIf="!card.isInstant" class="btn btn-success" (click)="handleInventorycard(card.id)">Lerakom</button>
          <button class="btn btn-success" (click)="throwFromHand(card.id)">Eldobom</button>
        </div>
        <p *ngIf="player.name !== loggedInUserName">*****</p>
      </div>
      <div (dragover)="allowDrop($event)" (drop)="handleTransferEnd($event, player.name)">
        <div class="divider">Eszközeim</div>
        <div *ngFor="let card of player.inventoryCards; trackBy:identifyCard">
          <p>
            {{ card.title }}
            <button class="btn btn-success" (click)="throwFromInventory(card.id)">Eldobom</button>
          </p>
        </div>
      </div>
      <div class="divider">Kijátszott kártyák</div>
      <div *ngFor="let card of player.playedCards; trackBy:identifyCard">
        <p>{{ card.title }}</p>
        <button class="btn btn-success" (click)="throwFromPlayed(card.id)">Eldobom</button>
      </div>
    </div>
  </div>
  <div>
    <h1 class="divider">Pakli</h1>
    <button class="btn btn-info w-full" (click)="drawFromUnused(game.unusedCards[0].id)">Húzás ({{ game.unusedCards.length }})</button>
    <h1 class="divider">Dobott lapok</h1>
    <button class="btn btn-error w-full">Húzás ({{ game.usedCards.length }})</button>
    <h1 class="divider">Logok:</h1>
    <p *ngFor="let log of game.logs">
      <span>({{ log.playerName }})</span>
      <span>{{ log.interaction }}</span>
    </p>
  </div>
</div>